{{ self.install_dependencies() }}
{% if self.install_python3.lower() in ["true", "1", "y"] -%}
{{ self.install(["python3"]) }}
pip3 install matplotlib
{%- endif %}
gsl_path="$(find / -name 'libgsl.so.??' || printf '')"
if [ -n "$gsl_path" ]; then \
  ln -sfv "$gsl_path" "$(dirname $gsl_path)/libgsl.so.0"; \
fi
ldconfig
mkdir -p {{ self.install_path }}
echo "Downloading AFNI ..."
curl -fL {{ self.urls[self.version] }} \
| tar -xz -C {{ self.install_path }} --strip-components 1
{%- if self.install_r_pkgs.lower() in ["true", "1", "y"] %}
  {%- if self.pkg_manager == "apt" %}
  {{ self.install(["r-base", "r-base-dev", "libnlopt-dev"]) }}
  {% elif self.pkg_manager == "yum" %}
  {{ self.install(["R-devel"]) }}
  {% endif -%}
rPkgsInstall -pkgs ALL
{% endif -%}
